@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.markdown-container p {
		@apply m-3 hyphens-auto;
		word-break: break-word;
	}

	.markdown-container ol {
		@apply my-4 list-none;
		list-style: decimal;
		padding-left: 2rem;
	}

	.markdown-container ul {
		@apply my-4 list-none;
		list-style: disc;
		padding-left: 2rem;
	}

	.markdown-container li {
		@apply relative pl-3;
	}

	.markdown-container h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-bold pl-3 pt-2 text-ber-darker-grey;
	}

	.markdown-container h1 {
		@apply text-[22px] pb-4;
	}

	.markdown-container h2 {
		@apply text-[20px];
	}

	.markdown-container h3 {
		@apply text-[18px];
	}

	.markdown-container h4 {
		@apply text-[16px];
	}

	.markdown-container h5 {
		@apply text-[14px];
	}

	.markdown-container h6 {
		@apply text-[12px];
	}

	.markdown-container a {
		@apply text-ber-mid-grey underline hover:text-ber-darker-grey;
	}

	.markdown-container code {
		@apply font-arial;
	}

	.markdown-container pre {
		@apply ml-10 whitespace-pre-wrap w-[90%] my-10;
	}

	.markdown-container hr {
		@apply m-3;
	}
}
